  body{
    overflow-x: hidden;
  }
  
  .navbar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  
  .navbar .nav-item.active {
    border-bottom: rgb(182, 64, 64) 3px solid;
  }
  
  #blog h2,
  #icon-boxes h1{
    border-bottom: rgba(114, 135, 138, 0.3) 3px solid;
    margin-bottom: 30px;

  }
  .carousel-item {
    height: 450px;
  }
  
  .carousel-image-1 {
    background: url('../img/Main_BG01.jpg');
    background-size: cover;
  }
  
  .carousel-image-2 {
    background: url('../img/Main_BG02.jpg');
    background-size: cover;
  }
  
  .carousel-image-3 {
    background: url('../img/Main_BG03.jpg');
    background-size: cover;
  }
  
  #video-play {
    position: relative;
    min-height: 200px;
    background: url('../img/Video.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
  }

  .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
  

  #video-play a {
    color: #fff;
  }
  
  #page-header {
    height: 200px;
    background: url('../img/Toppic02.jpg');
    background-attachment: fixed;
    background-position: 0 -360px;
    color: #fff;
    border-bottom: 2px rgb(218, 151, 106) solid;
    padding-top: 30px;
  }
  



  .about-img {
    margin-top: -50px;
  }

  
  #main-footer {
    background: #000;
    color: #fff;
  }

  .slick-Content {
    display:none;
  }
  


  #newsletter{
    position: relative; 
    text-align:center;
    background-color: #140404;
    color: #fff;
}

#newsletter input{
    text-align: center;
    width: 50%;
    height: 80px;
    font-size: 28px;
    padding: 10px;
    border: none;
    background-color: #140404;
    color: #fff;
    /* font-size: 30px; */
    border-bottom:#fff 3px solid;
}
#newsletter ::-webkit-input-placeholder{
    color: #fff;
}
#newsletter a{
    color:#fff;
}
#page-footer{
    background-color: #2d5774;
    color: #fff;
}

#blog a{

margin:auto;

}  

#about-slide {
    background-color: #460909;
    color: #fff;
}


#about .card-black{
    margin: 10px;
    background-color:#491404;
    color: #fff;
}

#faq .card {
  border: #444;
}

#faq a {
  color: rgb(2, 2, 2);
  text-decoration: none;
}

#faq .card-body,
#faq .card-header {
  background:rgb(207, 218, 230);
}

#icon-boxes .card{
  box-shadow: 5px -6px 5px #b3afb3; 

}
